{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
<h1 style="  background-color: #565656;
                        color: transparent;
                        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
                        -webkit-background-clip: text;
                           -moz-background-clip: text;
                                background-clip: text;font-weight: 900;"> Mes envellopes
                </h1>
                <br><br>
{% for x in cadeaux %}

					<div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-5 overlay-box" style="background-image: url(images/big/img5.jpg);">

								<h3 class="mt-3 mb-0 text-white">{{x.cadeau.cadeau}}</h3>
							</div>
                            <div class="card-body">
								<div class="row text-center">
									<h5> Vinn pran kado paw la </h5>
									<div class="col-6">
										<div class="bgl-primary rounded p-3">
											<h4 class="mb-0">Joyeux</h4>
											<small>Noel</small>
										</div>
									</div>
									<div class="col-6">
										<div class="bgl-primary rounded p-3">
											<h4 class="mb-0">Bon</h4>
											<small>Nwel</small>
										</div>
									</div>
								</div>
                            </div>
							<div class="card-footer mt-0">	
							{% if not x.is_redeem %}							
								<a href="{% url 'redeem' x.id %}" 
								class="btn btn-primary btn-lg btn-block">R&eacute;clamer le cadeau</a>	
							{% else %}
								<a
								class="btn btn-secondary btn-lg btn-block">Cadeau d&eacute;ja recu</a>	
							{% endif %}	
                            </div>
                        </div>
					</div>

{% empty %}

	<div class="card-body text-center ai-icon  text-primary">
													<svg id="rocket-icon" class="my-2" viewbox="0 0 28 28" width="100" height="100" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
														<path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
														<line x1="3" y1="6" x2="21" y2="6"></line>
														<path d="M16 10a4 4 0 0 1-8 0"></path>
													<h4 class="my-2">Desol&eacute; vous n'avez pas encore de cadeaux. Aller en gagner.</h4>
													<a href="{% url 'home' %}" class="btn my-2 btn-primary btn-lg px-4"><i class="fa fa-usd"></i> Retourner a l'aceuil</a>
												</div>

{% endfor %}
<!-- <div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-5 overlay-box" style="background-image: url("{% static 'images/big/img5.jpg)' %}">
								<img src="{% static 'images/profile/profile.png' %}" width="100" class="img-fluid rounded-circle" alt="">
								<h3 class="mt-3 mb-0 text-white">Deangelo Sena</h3>
							</div>
                            <div class="card-body">
								<div class="row text-center">
									<div class="col-6">
										<div class="bgl-primary rounded p-3">
											<h4 class="mb-0">Female</h4>
											<small>Patient Gender</small>
										</div>
									</div>
									<div class="col-6">
										<div class="bgl-primary rounded p-3">
											<h4 class="mb-0">Age: 24</h4>
											<small>Years Old</small>
										</div>
									</div>
								</div>
                            </div>
							<div class="card-footer mt-0">								
								<button class="btn btn-primary btn-lg btn-block">View Profile</button>		
                            </div>
                        </div>
					</div>
 -->

{% endblock %}