{% extends 'base.html' %} {% load static %} {% block 'body' %}

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Remerciments</a></li>
    </ol>
</div>

<div class="profile-uoloaded-post border-bottom-1 pb-5">
    <img src="{% static 'images/profile/8.jpg' %}" alt="" class="img-fluid w-100 rounded">
    <a class="post-title" href="#">
        <h3 class="text-black">Merci a l'association tout entiere</h3>
    </a>
    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.</p>
</div>
<div class="profile-uoloaded-post border-bottom-1 pb-5">
    <img src="{% static 'images/profile/9.jpg' %}" alt="" class="img-fluid w-100 rounded">
    <a class="post-title" href="#">
        <h3 class="text-black">Collection of textile samples lay spread</h3>
    </a>
    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.</p>
</div>
<div class="profile-uoloaded-post pb-3">
    <img src="{% static 'images/profile/8.jpg' %}" alt="" class="img-fluid w-100 rounded">
    <a class="post-title" href="#">
        <h3 class="text-black">Collection of textile samples lay spread</h3>
    </a>
    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.</p>
</div>

<div class="profile-uoloaded-post pb-3">
    <img src="{% static 'images/profile/8.jpg' %}" alt="" class="img-fluid w-100 rounded">
    <a class="post-title" href="#">
        <h3 class="text-black">Collection of textile samples lay spread</h3>
    </a>
    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.</p>
</div>

{% endblock %}