
{% extends 'base.html' %}
{% load static %}

{% block css %}

<link href="{% static 'vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
<h1 style="  background-color: #565656;
                        color: transparent;
                        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
                        -webkit-background-clip: text;
                           -moz-background-clip: text;
                                background-clip: text;font-weight: 900;"> Cadeau
                </h1>

                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">R&eacute;pondez &agrave; faire un sans faute...</h4>
                            </div>
                            <div class="card-body">
								<div id="smartwizard" class="form-wizard order-create">
									<ul class="nav nav-wizard">
										{% for x in questions %}
										<li><a class="nav-link" href="#section-{{forloop.counter}}"> 
											<span>{{forloop.counter}}</span> 
										</a></li>
										{% endfor %}
										<li><a class="nav-link" href="#submit"> 
											<span><i class="flaticon-013-checkmark"></i></span> 
										</a></li>
									</ul>
									<form action='' method="POST" >
										{% csrf_token %}
									<div class="tab-content">
										{% for x in questions %}
										<div id="section-{{forloop.counter}}" class="tab-pane" role="tabpanel">
											<div class="row">

												<div class="col-lg-12 mb-2">

													<h2>{{ x.libelle }}</h2>
													<div class="mb-3">
														{% for y in x.list_reponse %}
														<div class="form-check">
                                                        	<input class="form-check-input" type="radio" name="reponse-{{x.id}}" value="{{y}}" checked='False'>
                                                        	<label class="form-check-label">
                                                            	{{y}}
                                                        	</label>
                                                    	</div>
                                                    	{% endfor %} 
                                                    	<div class="form-check">
                                                        	<input class="form-check-input" type="radio" name="reponse-{{x.id}}" value="0" checked='False'>
                                                        	<label class="form-check-label">
                                                            	Je ne sais pas
                                                        	</label>
                                                    	</div>
                                                    </div>
												</div>
											</div>
										</div>

										{%endfor%}
										<div id="submit" class="tab-pane" role="tabpanel">
											<div class="row emial-setup">
					                            <div class="card-body text-center ai-icon  text-primary">
					                            	<i class="flaticon-013-checkmark"></i>
													<svg id="rocket-icon" class="my-2" viewbox="0 0 24 24" width="80" height="80" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
														<path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
														<line x1="3" y1="6" x2="21" y2="6"></line>
														<path d="M16 10a4 4 0 0 1-8 0"></path>
													</svg><i class="flaticon-013-checkmark"></i>
													<h4 class="my-2">Envoyez votre r&eacute;ponse....</h4>
													<button type="submit" class="btn my-2 btn-primary btn-lg px-4"><i class="fa fa-usd"></i> Envoyer</button>
												</div>
											</div>

											<div class="row">
												<div class="col-12">
													<div class="skip-email text-center">
														<p>Assurez-vous de bien r&eacute;pondre &agrave; toutes les questions avant d'envoyer votre r&eacute;ponse</p>
														<a href="javascript:void(0)">Bonne chance</a>
													</div>
												</div>
											</div>
										</div> 
									</div>
									</form>
								</div>
                            </div>
                        </div>
                    </div>
                
 {% endblock %}
    <!-- Required vendors -->
  
{% block scripts %}
    <script src="{% static 'vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>


    <!-- Form validate init -->
    <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>


	<!-- Form Steps -->
	<script src="{% static 'vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	<script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	

	<script>
		$(document).ready(function(){
			// SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
	</script>
{% endblock %}
